*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* --primary: #393939;
    --secondary: #4a4a4a;
    --escuro: #292929;
    --maisEscuro: #181818;
    --claro: #5b5b5b; */

    --primary: #4f46e5;
    --secondary: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.01);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegation {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
}

.menu-link:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: float 3s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primary);
    font-weight: bold;
    margin: 20px;
}

.header-subtittle {
    font-size: 1.5rem;
    color: var(--claro);
}

.about {
    padding: 6rem 2rem;
}

.about-tittle {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin: 20px;
}

.about-box {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.about-paragraph {
    text-align: center;
    font-size: 1.25rem;
}

.projects{
    padding: 6rem 2rem;
}

.projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
}

.projects-tittle {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projects-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px); scale: 1.03;
    transition: all 0.3s ease;
    cursor: pointer;
}

.projects-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.text-box-projects {
    padding: 1.5rem;
}

.projects-description {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.projects-name {
   margin-bottom: 5px;
}

.contact {
    padding: 6rem 2rem;
}

.contact-tittle {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-form{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.camp-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.form-group:focus{
    border-color: var(--secondary-);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-submit {
    color: #fff;
    background: linear-gradient(45deg, var(--primary, var(--secondary)));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.btn-submit:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.4);
    transform: translateY(-2px); scale: 1.03;
    transition: all 0.3s ease;
    cursor: pointer;
}

.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primary), transparent 80%), radial-gradient(circle at 90% 80%, var(--secondary) 0%, transparent 20%), var(--maisEscuro)
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-text {
    color: var(--claro);
    font-size: 1rem;
    margin: 10px 0;
}

.footer-icons {
    display: flex;
    gap: 20px;
    margin: 0 20px;
    align-items: center;
}

.git-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.linkedin-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}